# Ambiente virtual
venv/
.env

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Outros
.DS_Store
Thumbs.db 
data/pacientes_marco-julho_com_createdAt_com_sexo.json 
data/pacientes_marco-julho_com_createdAt_com_sexo_sigla_filtrado.json 
data/pacientes_marco-agosto_com_createdAt_com_sexo.json
pacientes_marco-agosto_com_createdAt_com_sexo_sigla_filtrado.json
pacientes_marco-setembro_com_createdAt_com_sexo.json
pacientes_outubro_com_createdAt_com_sexo.json
pacientes_marco25_janeiro26.json
analise-medicacao-inspirar.docx
analise-medicacao-inspirar.pdf
marcos-janeiro-2026.json
data/marc25_fev26.json

debug_semanais.py
debug_simples.py
debug_semanas.py
